body {
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(252, 247, 199);
     /* width: 120px; */ /* barra vertical */
    overflow: hidden; /* barra horizontal */
}

li{
    float: left; /* barra horizontal */
}

li a{
    display: block;
    text-decoration: none;
    padding: 5px 25px;
    color: rgb(71, 71, 71);
}

li a:hover{
    background-color: rgb(83, 166, 255);
    color: white;
}