body{
background-color: rgb(198, 201, 231);

}

.titulo {

color: rgba(255, 255, 255);
background-color: #efbc6e;
text-shadow: 3px 3px 2px black;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
letter-spacing: -3px;
}

.articulo{

background-color: white;
color: rgb(4, 41,102);
width: 500px;
height: 100px;
/*border: 10px dashed red;*/
/*solid,dash,dotted,double */
border-left: 50px solid blue;
border-top: 1px solid orange;

/* top right bottom left */
padding: 10px 10px 20px 50px;
margin: 10px;
margin-left: 100px;
box-shadow: -5px -5px 2px gray;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold ;/*100*/
font-style: italic;
text-transform: capitalize;
line-height: 25px;

}
.navegar{

color: white;
font-family: 'Courier New', Courier, monospace;
 text-decoration: none;
 background-color: rgb(0, 111, 119);
 padding: 5px;
 text-transform: uppercase;
}
/* Pseudo-class */
.navegar:hover{
background-color: rgb(255, 214,139);
color: rgb(103,47,1);
border: 1px solid gray;

}

/*a:visited{

    color: pink;

}
*/

/*listas*/

.ciudades {
    
    list-style-image: url('../img/hoja_pagina.png');

}

.links{

    list-style-type: none;
}

table {

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table,td,th{
border: 1px solid black;
   
}

th{

    height: 30px;
    vertical-align: top;
}
td{

padding: 10px;

}

td:first-child{

    text-align: center;
}

td:nth-child(2){
    color: red;
}

/*
thead> tr:first-of-type{

    background-color: limegreen;
}
*/

tbody> tr:hover{

background-color: gray;

}

tr:nth-child(even){

background-color: blueviolet;

}

tbody > tr:nth-child(3) > td:nth-child(2){

    color: aqua;
}




