p{ /*selector de tag*/

    color:blue;

}
#noticiaprincipal{  /*selector por id*/
color:red;
}
.publicidad{   /*selector por clase*/
color: green;
}
/*tag por agrupacion*/
h1,h2,h4{
color: chartreuse;
}
